<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>超市会员管理系统</title>
        <meta name="description" content="description">
        <meta name="author" content="MarkLi">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/plugins/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="~/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
        <link href="~/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
        <link href="~/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
        <link href="~/plugins/xcharts/xcharts.min.css" rel="stylesheet">
        <link href="~/plugins/select2/select2.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
    </head>

    <body>

        <!--Start Header-->
        <header class="navbar">
            <div class="container-fluid expanded-panel">
                <div class="row">
                    <div id="logo" class="col-xs-12 col-sm-2">
                        <a href="@Url.Action("Index", "Member")">会员子系统</a>
                    </div>
                    <div id="top-panel" class="col-xs-12 col-sm-10">
                        <div class="row">
                            <div class="col-xs-4 col-sm-8 top-panel-right">
                                <ul class="nav navbar-nav pull-right panel-menu">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                                            <i class="fa fa-angle-down pull-right"></i>
                                            <div class="user-mini pull-right">
                                                <span class="welcome">Welcome！！Member！！</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--End Header-->

        <!--Start Container-->
        <div id="main" class="container-fluid">
            <div class="row">
                <div id="sidebar-left" class="col-xs-2 col-sm-2">
                    <ul class="nav main-menu">
                        <li>
                            <a href="@Url.Action("Register","Member")">
                                <i class="fa fa-dashboard"></i>
                                <span class="hidden-xs">实名注册</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Enquiry","Member")">
                                <i class="fa fa-dashboard"></i>
                                <span class="hidden-xs">会员信息查询</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Amend","Member")">
                                <i class="fa fa-dashboard"></i>
                                <span class="hidden-xs">会员信息修改</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--Start Content-->
                <div id="content" class="col-xs-12 col-sm-10">
                    @RenderBody()
                </div>
                <!--End Content-->

            </div>
        </div>
        <!--End Container-->

    </body>
</html>
